.textline {
        border:0px solid #000;
        border-bottom:1px dashed #aeaeae;
        background-color:transparent;
        color:#efefef;
}

.clearbox{
        margin-left:1em;
        border:1px dashed #aeaeae;
        background-color:transparent;
        color:#efefef;
        margin-bottom:0.2em;

}
.transparent{
        background-color: rgba(0,0,0,0.4); /* rgb, white, with alpha at 0.5 */
}
.transparentdark{
        background-color: rgba(0,0,0,0.8);
}

