*{font:12px Helvetica,Verdana,Arial,sans-serif;color:#555;}
html,body{margin:5px 0 15px;padding:0;}
body{background-color:#224a7b;text-align:center;}
pre{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.areatip {
        position:absolute; 
        width:1063px;
        padding-left:0.5em;
        margin-top:0em;
        margin-left:0em;
        padding-right:0.5em;
        padding-top:0.5em;
        z-index:100;
        min-height:97%; 
	/*height: auto; */
        /*top:0;
	bottom:0;*/
 	/*left:0; */
        color:#ffffff;
        -moz-border-radius:0.3em;
        -webkit-border-radius:0.3em;
}
.areatip h3 {padding-left:0.5em;color:#fff;font-size:2em;text-decoration:underline;font-weight:bold;margin-top:20px;margin-bottom:0;letter-spacing:1px;font-family:georgia,serif;}
.areatip table{padding-left:1em;}	
.areatip p{padding-left:1em;color:#fff;clear:both;text-align:justify;}
.areatip td{border:0px;background:transparent;padding:1px 10px 1px 15px;text-indent:-10px;color:#fff;vertical-align: top}
.areatip th{border:0px;border-bottom:1px solid #fff;background:transparent;padding:3px 10px 3px 5px;color:#fff;font-size:1.1em;}
.areatip td.last {border:0px;border-top:1px solid #fff;background:transparent;padding:0;font-size:0;color:#fff;}

th.light {border:0px;border-bottom:1px solid #757575;background:transparent;padding:3px 10px 3px 5px;color:#595248;font-size:1.1em;}
td.light {border:0px;background:transparent;color:#595248;padding:3px 5px 5px 5px}
td.last {border:0px;border-top:1px solid #757575;background:transparent;}
#container{width:1075px;margin:0 auto;text-align:left;}
#inhoud{float:left;width:1075px;margin-right:15px;}
#inhoud-hoofd{height:90px;margin-top:20px;}
#inhoud-hoofdlinks{float:left;vertical-align:middle;height:76px;width:830px;background-color:#e3e3e6;border:solid 6px #b0b0b0;margin:0 0 5px 0;-moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;border-radius:20px;}
#inhoud-hoofdrechts{float:right;height:76px;width:214px;background:url(../images/layout/main-logo-small.png) no-repeat;border:solid 6px #b0b0b0;margin:0 0 5px 0;-moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;border-radius:20px;}
#inhoud-rechts{margin-bottom:15px;float:right;width:1025px;font-size:12px;background-color:#FFF;border-top:solid 10px #FFF;border-bottom:solid 10px #FFF;border-left:solid 25px #FFF;border-right:solid 25px #FFF;-moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;border-radius:20px;}
#inhoud-rechtstop{float:left;width:1025px;height:20px;padding-top:5px;padding-left:5px;background-color:#FFF;border:0;border-bottom:1px solid #000000;margin-bottom:15px;}
#contextpop{text-align:left;}.sectie{margin-bottom:10px;padding-bottom:10px;border-bottom:5px dashed #e3e3e6;}
p{clear:both;text-align:justify;}.indent{padding-left:15px;}
#inhoud-menu{vertical-align:middle;float:left;width:1025px;height:10px;padding-top:0px;padding-bottom:4px;padding-left:5px;background-color:#b0b0b0;border:5px solid #b0b0b0;border-left:25px solid #b0b0b0;border-right:20px solid #b0b0b0;margin-bottom:5px;color:#000000;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;}
#inhoud-menu h3{float:left;font-size:17px;font-weight:bold;margin-top:0px;margin-bottom:0px;letter-spacing:1px;font-family:georgia,serif;color:#000000;}
.imgcap{font-style:italic;padding-left:10px;padding-right:10px;text-align:center}
ul#topmenu { margin:0; padding:0; z-index:30;list-style:none; font:normal 8pt verdana, arial, helvetica;color:#000000;}
ul#topmenu li{margin:0; padding:0;  float:left; position:relative; color:#000000;}
ul#topmenu li a{margin:0;padding:0;background-color:#b0b0b0;font-weight:bold;text-decoration:none;letter-spacing:1px;color:#000000;}
ul#topmenu li a:hover {background-color:#FFF;font-weight:bold;text-decoration:none;letter-spacing:1px;color:#000000;}
#topmenu div.submenu{position:absolute;left:4px;top:19px;visibility:hidden;margin:0px;padding:0px 3px 0px 2px;background:#b0b0b0;border:1px solid;blackfilter:alpha(opacity=90);opacity:0.9;color:#000000;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;}
#topmenu div.submenu a{position:relative;display:block;margin:0;margin-left:8px;padding-left:3px;padding-top:0px;padding-bottom:0px;text-align:left;text-decoration:none;background:#b0b0b0;color:#000000;width:auto;white-space:nowrap;border-left:1px solid #000000;font-size:10px;}
#topmenu div.submenu h3{color:#000000;font-size:11px;margin-left:2px;margin-top:0px;margin-bottom:0px;letter-spacing:1px;font-family:georgia,serif;border-bottom:1px solid #000000;font-style:italic;width:auto;white-space:nowrap;}
#topmenu div a:hover{background-color:#FFF;color:#000}
#inhoud-rechtstop div.submenu{position:relative;left:4px;top:5px;visibility:hidden;margin:0px;padding:0px 3px 0px 2px;background:#b0b0b0;border:1px solid;blackfilter:alpha(opacity=90);opacity:0.9;color:#000000;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;}
#inhoud-rechtstop div.submenu a{position:relative;display:block;margin:0;margin-left:8px;padding-left:3px;padding-top:0px;padding-bottom:0px;text-align:left;text-decoration:none;background:#b0b0b0;color:#000000;width:auto;white-space:nowrap;border-left:1px solid #000000;font-size:10px;}
#inhoud-rechtstop div a:hover{background-color:#FFF;color:#000}
.menubutton{color:#555;background-color:#e3e3e6;font-weight:bold;text-decoration:none;letter-spacing:1px;border:0;}
#inhoud-hoofd h1{color:#000;font-size:32px;font-weight:bold;letter-spacing:1px;font-family:georgia,serif;margin-top:21px;margin-left:10px;margin-bottom:0px;}
.sectie h2{color:#1E3A6B;font-size:23px;font-weight:bold;margin-top:20px;margin-bottom:0;letter-spacing:1px;font-family:georgia,serif;}
.sectie h3{color:#1E3A6B;font-size:17px;font-weight:bold;margin-top:20px;margin-bottom:0;letter-spacing:1px;font-family:georgia,serif;}
.sectie h4{color:#555;font-size:10px;font-weight:normal;margin-top:0;padding-left:20px;margin-bottom:6px;}.sectie b{font-weight:bold;font-size:medium;}
.nadruk{font-weight:bold;text-decoration:underline;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
.genomebuild{display:block;text-align:center;font-style:italic;}
.underline{text-decoration:underline;}
.sectie journal{font-weight:bold;font-style:italic;}
.sectie img.kader_links{border:1px solid #888;padding:2px;margin-right:7px;margin-top:4px;float:left;}
.sectie img.kader_rechts{border:1px solid #888;padding:2px;margin-left:7px;margin-top:4px;float:right;}
.clinheader{margin:0;margin-left:-6px;color:#1E3A6B;text-decoration:underline;font-size:15px;font-weight:bold;font-family:georgia,serif;}
.clinical{margin:0;margin-left:4px;padding-left:6px;border-left:1px solid #1E3A6B;}
.clinical ul{list-style-type:disc;margin:15px;padding:5px;}
.clinical strong{font-weight:bold;}.clinical em{font-style:italic;}
.clinical ol{margin:15px;padding:5px;}#txtHint{display:none;}
.scrollbarbox{height:100px;z-index:1;border:1px solid #000;background-color:#FFF;left:400px;top:100px;visibility:visible;display:block;overflow:auto;}
.graph{width:336px;margin-right:5px;float:left;text-align:center;}
.biggraph{width:677px;margin-right:5px;float:left;text-align:center;}
@media print{#inhoud-hoofd{display:none;}#inhoud-rechts{display:block;}#inhoud-links{display:none;}}
.graphimg{margin:0 auto;border:1px solid black;height:325px;width:325px;}
.biggraphimg{margin:0 auto;border:1px solid black;height:325px;width:665px;}

#inhoud-rechts a:link{color:#1E3A6B;background-color:#FFF;text-decoration:none;}#inhoud-rechts a:visited{color:#1E3A6B;background-color:#FFF;text-decoration:none;}#inhoud-rechts a:hover{color:#FFF;background-color:#1E3A6B;text-decoration:none;}#inhoud-rechts a:active{color:#1E3A6B;background-color:#FFF;text-decoration:none;}a.tt:link{color:#1E3A6B;background-color:#FFF;text-decoration:none;}a.tt:visited{color:#1E3A6B;background-color:#FFF;text-decoration:none;}a.tt:hover{color:#FFF;background-color:#1E3A6B;text-decoration:none;}a.tt:active{color:#1E3A6B;background-color:#FFF;text-decoration:none;}a.tt.foto{background-color:#FFF;text-decoration:none;}a.ttsmall:link{color:#1E3A6B;background-color:#FFF;text-decoration:none;font-size:8px;font-style:italic;}a.ttsmall:visited{color:#1E3A6B;background-color:#FFF;text-decoration:none;font-size:8px;font-style:italic;}a.ttsmall:hover{color:#FFF;background-color:red;text-decoration:none;font-size:8px;font-style:italic;}a.tt:active{color:#1E3A6B;background-color:#FFF;text-decoration:none;}
#inhoud-rechtstop a:link{color:#555;background-color:#FFF;font-weight:bold;text-decoration:none;letter-spacing:1px;}
#inhoud-rechtstop a:visited{color:#555;background-color:#FFF;font-weight:bold;text-decoration:none;letter-spacing:1px;}
#inhoud-rechtstop a:hover{color:#555;background-color:#e3e3e3;font-weight:bold;text-decoration:none;letter-spacing:1px;}
#inhoud-rechtstop a:active{color:#555;background-color:#e3e3e3;font-weight:bold;text-decoration:none;letter-spacing:1px;}
#inhoud-rechtstop b{color:#555;background-color:#FFF;font-weight:bold;text-decoration:none;letter-spacing:1px;}a img{border-width:0;}a.alt{background-color:#F7F5F5;color:#797268;text-decoration:none;}ul{list-style-type:none;margin:0;padding:0;}#ul-simple li{padding-left:5px;}
#ul-table{list-style-type:disc;padding-left:1px;margin-left:5px;}
#ul-log{list-style-type:disc;padding-left:5px;margin-left:15px;}
.genes{list-style-type:none;padding-left:5px;margin-left:5px;text-indent:-10px;}
#ul-disc li{padding-left:5px;list-style-type:disc;}#ul-menu li{padding-left:20px;padding-bottom:5px;background:url(../images/bullets/page_world.png) no-repeat;}#ul-submenu{border-left:solid 1px #555;margin-left:8px;}#ul-submenu li{padding-left:3px;padding-bottom:3px;padding-top:3px;background:none;}#ul-mine li{padding-left:20px;padding-bottom:5px;background:url(../images/bullets/arrow.png) no-repeat;}#ul-attach li{padding-left:20px;padding-bottom:5px;background:url(../images/bullets/attach.png) no-repeat;}input,textarea{background-color:white;border:1px solid #999;}input[type=checkbox]{border:none;}.button{background-color:#e3e3e6;border:1px solid #999;}FORM DT{clear:both;width:33%;float:left;text-align:right;}FORM DD{float:left;width:66%;margin:0 0 .5em .25em;}.sectie textarea{margin-bottom:10px;overflow:auto;}input.check{width:auto;margin-bottom:0;}.span-cmg{float:right;}.tooltip{background-color:#F05;border-color:red;}#mytable{width:75%;padding:0;margin:0;}caption{padding:0 0 5px 0;width:700px;font:italic 11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-align:right;}th{font:bold 11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;color:#1E3A6B;border-right:1px solid #a1a6a4;border-bottom:1px solid #a1a6a4;border-top:1px solid #a1a6a4;letter-spacing:2px;text-transform:uppercase;text-align:left;padding:6px 6px 6px 12px;background:#e3e3e6;}th.center{text-align:center;}th.compact{font:bold 10px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;color:#1E3A6B;border-right:1px solid #a1a6a4;border-bottom:1px solid #a1a6a4;border-top:1px solid #a1a6a4;letter-spacing:1px;text-transform:uppercase;text-align:left;padding:3px 3px 3px 6px;background:#e3e3e6;}th.nobg{border-top:0;border-left:0;border-right:1px solid #a1a6a4;background:none;}
th.topleft{font:bold 11px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;color:#1E3A6B;border-right:1px solid #a1a6a4;border-bottom:1px solid #a1a6a4;border-top:1px solid #a1a6a4;border-left:1px solid #a1a6a4;letter-spacing:2px;text-transform:uppercase;text-align:left;padding:6px 6px 6px 12px;background:#e3e3e6;}
td{border-right:1px solid #a1a6a4;border-bottom:1px solid #a1a6a4;padding:6px 6px 6px 12px;color:#797268;}
td.compact{font:8px;border-right:1px solid #a1a6a4;border-bottom:1px solid #a1a6a4;background:#fff;padding:3px 3px 3px 6px;color:#797268;}
td.alt{background:#F7F5F5;color:#797268;}td.sg_red{background:#FF7856;color:#797268;}td.sg_purple{background:#AC6EFF;color:#797268;}td.sg_green{background:#8ecb84;color:#797268;}td.sg_yellow{background:#e3d405;color:#797268;}th.spec{color:#797268;border-left:1px solid #a1a6a4;border-top:0;background:#fff;font:bold 10px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;}th.specalt{color:#797268;border-left:1px solid #a1a6a4;border-top:0;background:#f7f5f5;font:bold 10px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;color:#797268;}th.title{font:bold 13px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;color:#1E3A6B;border-right:1px solid #a1a6a4;border-bottom:0;border-top:1px solid #a1a6a4;border-left:1px solid #a1a6a4;letter-spacing:2px;text-transform:uppercase;text-align:center;padding:6px 6px 6px 12px;background:#e3e3e6;}th.topcell{color:#797268;border-top:1px solid #a1a6a4;background:#fff;font:bold 10px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;}th.topcellalt{color:#797268;border-top:1px solid #a1a6a4;background:#f7f5f5;font:bold 10px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;}#clear{padding:0;margin:0;border-right:0;border-left:0;border-top:0;border-bottom:0;}th.clear{color:#797268;border-left:0;border-right:0;border-top:0;border-bottom:0;font:bold 10px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;background:#fff;}td.clear{color:#797268;border-left:0;border-right:0;border-top:0;border-bottom:0;background:#fff;}

td.calendar-noBorder{border: none;}

#overlay {
    z-index: 9500;
    filter: alpha(opacity=85); /*older IE*/
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=85); /* IE */
    -moz-opacity: .85; /*older Mozilla*/
    -khtml-opacity: 0.85;   /*older Safari*/
    opacity: 0.85;   /*supported by current Mozilla, Safari, and Opera*/
    background-color:#000000;
    padding-top:4em;
    position:fixed; top:0px; left:0px; width:100%; height:100vh; color:#fff; vertical-align:middle;overflow:hidden;
}
#overlay h3{color:#fff;font-size:2em;;font-weight:bold;margin-top:1em;margin-bottom:0.5em;letter-spacing:1px;font-family:georgia,serif;}
#overlay p{font-size:1em;color:#fff;clear:both;text-align:center}

.button_disabled {
        font-style: italic; /* Make the text italic */
        background-color: #cccccc; /* Grey out the background */
        color: #666666; /* Grey out the text */
        cursor: not-allowed; /* Show a "not-allowed" cursor */
        pointer-events: none; /* Prevent interaction */
}