/* Ontology TREE layout */ 
#tree1{ 
        width:; 
        height: 200px;
        z-index:1; 
        border: 1px solid #000000; 
        background-color:#FFFFFF; 
        left: 400px; 
        top: 100px; 
        visibility: visible; 
        display:block;
	overflow:auto; 
} 
.nodecls {
        font-family:Verdana, Arial, Helvetica, sans-serif; 
        font-size:10px; 
        text-decoration:none; 
        color:#000000; 
}

.nodelabel { 
        font-family:Verdana, Arial, Helvetica, sans-serif; 
        font-size:10px; 
        text-decoration:none; 
        color:#000000; 
}

/* AUTOSUGGEST DROPDOWN LAYOUT */
body
{
	position: relative;
}

div.autosuggest
{
	position: absolute;
	background-image: url(/cnv/images/layout/img_inquisitor/as_pointer.gif);
	background-position: top;
	background-repeat: no-repeat;
	padding: 10px 0 0 0;
}

div.autosuggest div.as_header,
div.autosuggest div.as_footer
{
	position: relative;
	height: 6px;
	padding: 0 6px;
	background-image: url(/cnv/images/layout/img_inquisitor/ul_corner_tr.gif);
	background-position: top right;
	background-repeat: no-repeat;
	overflow: hidden;
}
div.autosuggest div.as_footer
{
	background-image: url(/cnv/images/layout/img_inquisitor/ul_corner_br.gif);
}

div.autosuggest div.as_header div.as_corner,
div.autosuggest div.as_footer div.as_corner
{
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 6px;
	background-image: url(/cnv/images/layout/img_inquisitor/ul_corner_tl.gif);
	background-position: top left;
	background-repeat: no-repeat;
}
div.autosuggest div.as_footer div.as_corner
{
	background-image: url(/cnv/images/layout/img_inquisitor/ul_corner_bl.gif);
}
div.autosuggest div.as_header div.as_bar,
div.autosuggest div.as_footer div.as_bar
{
	height: 6px;
	overflow: hidden;
	background-color: #333;
}


div.autosuggest ul
{
	list-style: none;
	margin: 0 0 -4px 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

div.autosuggest ul li
{
	color: #ccc;
	padding: 0;
	margin: 0 4px 4px;
	text-align: left;
}

div.autosuggest ul li a
{
	color: #ccc;
	display: block;
	text-decoration: none;
	background-color: transparent;
	position: relative;
	padding: 0;
	width: 100%;
}
div.autosuggest ul li a:hover
{
	background-color: #444;
}
div.autosuggest ul li.as_highlight a:hover
{
	background-color: #1B5CCD;
}

div.autosuggest ul li a span
{
	display: block;
	padding: 3px 6px;
	font-weight: bold;
	color: #DCDCDC;
}

div.autosuggest ul li a span small
{
	font-weight: normal;
	color: #dcdcdc;
}

div.autosuggest ul li.as_highlight a span small
{
	color: #FFFFFF;
}

div.autosuggest ul li.as_highlight a
{
	color: #FFFFFF;
	background-color: #1B5CCD;
	background-image: url(/cnv/images/layout/img_inquisitor/hl_corner_br.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

div.autosuggest ul li.as_highlight a span
{
	background-image: url(/cnv/images/layout/img_inquisitor/hl_corner_bl.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

div.autosuggest ul li a .tl,
div.autosuggest ul li a .tr
{
	background-image: transparent;
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
}
div.autosuggest ul li a .tr
{
	right: 0;
}

div.autosuggest ul li.as_highlight a .tl
{
	left: 0;
	background-image: url(/cnv/images/layout/img_inquisitor/hl_corner_tl.gif);
	background-position: bottom left;
}

div.autosuggest ul li.as_highlight a .tr
{
	right: 0;
	background-image: url(/cnv/images/layout/img_inquisitor/hl_corner_tr.gif);
	background-position: bottom right;
}



div.autosuggest ul li.as_warning
{
	font-weight: bold;
	text-align: center;
}

div.autosuggest ul em
{
	font-style: normal;
	color: #6EADE7;
}
