.transparent {
        background:transparent;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
        zoom:1;
}
.transparentdark {
        z-index:9000;
        background:transparent;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ca000000,endcolorstr=#ca000000);
        zoom:1;
}
.textline {

}
.clearbox{
}

#overlay {
        z-index: 9000;
        background:transparent;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000); /* IE */
        }

.areatip {
	height:99%;
	overflow:auto;
}
