input, textarea {
	background-color: white;
	border: 1px solid #999999;
}
.button {
	background-color: #e3e3e6;
	border: 1px solid #999999;
}
.sectie input {
	/*width: 100px;*/ 
	/*margin-bottom: 10px;*/
}


FORM DT {
   clear:both;
   width:33%;
   float:left;
   text-align:right;
}

FORM DD {
   float:left;
   width:66%;
   margin:0 0 0.5em 0.25em;
}
.sectie textarea {
	/*width: 520px;*/
	margin-bottom: 10px;
	overflow: auto;
}


input.check {
	width: auto;
	margin-bottom: 0px;
}
