* {
	font: 12px  Helvetica, Verdana, Arial, sans-serif;
	/*font: 12px  Georgia, serif;*/
	color: #555555;
}

html, body {
	margin: 15px 0px;
	padding: 0;
}

body {	
	background-color: #002060;  /*c18e58;   /*#b69b7f;  #1e3a6b;*/
	text-align: center;
}

#container {
	width: 1075px;
	margin: 0 auto;
	/*margin-top: 15px;*/
	text-align: left;
} 



#inhoud {
	float: left;
	width: 1075px;
	margin-right: 15px;
	/*width: 662px;*/
	/*background: url(../images/layout/main-body-small.gif) repeat-y;*/
	/*background-color: #FFFFFF;*/
}

#inhoud-hoofd {
	height: 144px;
	/*background: url(../images/layout/main-head-small_sgv1.gif) no-repeat;*/
	/*padding-right: 35px;*/
	/*text-align: left;*/
}
#inhoud-hoofdlinks {
	float: left;
	vertical-align: middle;
	height: 114px;
	width: 790px;
	background-color: #e3e3e6;
	border: solid 10px #FFFFFF;
	margin: 0px 0px 10px 0px;
}
#inhoud-hoofdrechts {
	float: right;
	height: 114px;
	width: 233px;
	background: url(../images/layout/main-logo.png) no-repeat;
	border: solid 10px #FFFFFF;
	margin: 0px 0px 10px 0px;
}
	
#inhoud-links {
	float: left;
	width: 175px;
	padding: 5px;
	/*padding-top: 5px;*/
	background-color: #e3e3e6;
	border: solid 10px #FFFFFF;
}

#inhoud-rechts {
	float: right;
	width: 805px;
	font-size: 12px;
	/*padding-right: 30px;*/
	/*padding-top: 0px;*/
	background-color: #FFFFFF; 
	border-top: solid 10px #FFFFFF;
	border-bottom: solid 10px #FFFFFF;
	border-left: solid 25px #FFFFFF;
	border-right: solid 25px #FFFFFF;

}

#inhoud-rechtstop {
	float: left;
	width: 805px;
	height: 20px;
	padding-top: 5px;
	padding-left: 5px;
	background-color : #e3e3e6;
	/*border: solid 5px #FFFFFF;*/
	border: 0;
	border-bottom: 10px solid #FFFFFF;

}

#contextpop {
	text-align:left;
}
