#inhoud-links a:link {
	color: #555555;
	background-color: #e3e3e6;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}

.menubutton {
	color: #555555;
	background-color: #e3e3e6;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	border: 0;
}
#inhoud-links a:visited {
	color: #555555;
	background-color: #e3e3e6;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}

#inhoud-links a:hover {
	color: #555555;
	background-color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}

#inhoud-links a:active {
	color: #555555;
	background-color: #e3e3e6;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}

#inhoud-rechts a:link {
	color: #1E3A6B;
	background-color: #FFFFFF;
	text-decoration: none;
}

#inhoud-rechts a:visited {
	color: #1E3A6B;
	background-color: #FFFFFF;
	text-decoration: none;
}

#inhoud-rechts a:hover {
	color: #FFFFFF;
	background-color: #1E3A6B;
	text-decoration: none;
}

#inhoud-rechts a:active {
	color: #1E3A6B;
	background-color: #FFFFFF;
	text-decoration: none;
}


a.tt:link {
	color: #1E3A6B;
	background-color: #FFFFFF;
	text-decoration: none;
}


a.tt:visited {
	color: #1E3A6B;
	background-color: #FFFFFF;
	text-decoration: none;
}

a.tt:hover {
	color: #FFFFFF;
	background-color: #1E3A6B;
	text-decoration: none;
}

a.tt:active {
	color: #1E3A6B;
	background-color: #FFFFFF;
	text-decoration: none;
}

a.tt.foto {
	background-color: #FFFFFF;
	text-decoration: none;
}

a.ttsmall:link {
	color: #1E3A6B;
	background-color: #FFFFFF;
	text-decoration: none;
	font-size: 8px;
	font-style: italic;
}


a.ttsmall:visited {
	color: #1E3A6B;
	background-color: #FFFFFF;
	text-decoration: none;
	font-size: 8px;
	font-style: italic;
}

a.ttsmall:hover {
	color: #FFFFFF;
	background-color: red;
	text-decoration: none;
	font-size: 8px;
	font-style: italic;
	
}

a.tt:active {
	color: #1E3A6B;
	background-color: #FFFFFF;
	text-decoration: none;
}

a.tt.foto {
	background-color: #FFFFFF;
	text-decoration: none;
}

#inhoud-rechtstop a:link {
	color: #555555;
	background-color: #e3e3e6;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}

#inhoud-rechtstop a:visited {
	color: #555555;
	background-color: #e3e3e6;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}

#inhoud-rechtstop a:hover {
	color: #555555;
	background-color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}

#inhoud-rechtstop a:active {
	color: #555555;
	background-color: #e3e3e6;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}
#inhoud-rechtstop b {
	color: #555555;
	background-color: #e3e3e6;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}
a img {
	border-width: 0;
}
a.alt {
	background-color: #F7F5F5;
	color: #797268;
	text-decoration: none;
}
