ul  {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#ul-simple li {
	padding-left: 5px;
		
}
#ul-log {
	list-style-type: disc;
	padding-left: 5px;
	margin-left: 15px;
}
#ul-disc li {
	padding-left: 5px;
	list-style-type: disc;
}
#ul-menu li {
	padding-left: 20px;
	padding-bottom: 5px;
	/*background: url(../images/bullets/bullet_star.png) no-repeat;*/
	background: url(../images/bullets/page_world.png) no-repeat;	
}

#ul-submenu {
	border-left: solid 1px #555555;
	margin-left: 8px;
}


#ul-submenu li {
	padding-left: 3px;
	padding-bottom: 3px;
	padding-top: 3px;
	background: none;
}
	
#ul-mine li {
	padding-left: 20px;
	padding-bottom: 5px;
	background: url(../images/bullets/arrow.png) no-repeat;
}



.olist li{
	list-style-type: decimal;
}


#ul-attach li {
	padding-left: 20px;
	padding-bottom: 5px;
	background: url(../images/bullets/attach.png) no-repeat;
}

