body { 
  color : #000000; 
  background : #ffffff; 
  font-family : "Times New Roman", Times, serif;
  font-size : 9pt; 
}
#container {
	width: 160mm;
	margin: 20mm;
	margin-left:30mm;
	border: 1px solid #E8E8E8 ;
	/*margin-top: 15px;*/
	text-align: left;
} 

#left {
	float: left;
	width: 40%;
	margin: 0px;
	padding:0px;
}

#right {
	float: right;
	width: 40%;
	margin: 0px;
	padding:0px

table {
	border: 0px;
}

genes {
	font-size: 9pt;
}
