.rcMenuContainer {
    font-family:verdana, arial;
    position: absolute;
    border: 1px solid black;
    background: #efebe7;
    padding:0px;
    }
.rcMenuItem {
    font-size:11px;
    font-weight:normal;
    padding:3px;
    width:100%;
}
.rcMenuItemHover {
    font-size:11px;
    font-weight:normal;
    background:#5e88ae;
    color:white;
    padding:3px;
}
.rcMenuItemText {
    font-size:11px;
    font-weight:normal;
    border:0px;
    padding:2px;
}
.rcMenuItemTextExt {
    font-size:11px;
    font-weight:normal;
    border:0px ;
    padding:2px;
} 
.rcMenuSeparator{
    color:black;
    height:3px;
}
.rcImage {
	padding-right:4px; 
}

.
