.span-auteur
{
	padding-left: 20px;
	background: url(../images/bullets/user.png) no-repeat;
}

.span-bekeken
{
	padding-left: 20px;
	background: url(../images/bullets/eye.png) no-repeat;
}

.span-spam
{
	padding-left: 20px;
	background: url(../images/bullets/delete.png) no-repeat;
}

.span-geenspam
{
	padding-left: 20px;
	background: url(../images/bullets/accept.png) no-repeat;
}

.span-categorieen
{
	padding-left: 20px;
	background: url(../images/bullets/tag_blue.png) no-repeat;
	margin-bottom: 10px;
}

.span-waarbenik
{
	padding-left: 20px;
	padding-bottom: 2px;
	background: url(../images/bullets/sitemap_color.png) no-repeat;
}

.span-cmg {
	float: right;
}

.tooltip {
	background-color: #FF0055;
}
