   /*********************************/
 /*********** TEKST DIVS ***********/
/***********************************/

/* SECTIE */
.sectie {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 5px dashed #e3e3e6;
}



/****************/

  /***********************************/
 /*********** OPMAAK TEKST ***********/
/*************************************/
p {
	clear: both;
	text-align: justify;
}

.indent {
	padding-left: 15px;
}
#inhoud-links h3 {
	color: #1E3A6B;
	font-size: 17px;
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 6px;
	letter-spacing: 1px;
	font-family: georgia, serif;
}


#inhoud-hoofd h1 {
	color: #000000;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family : georgia,serif;
	margin-top: 41px;
	margin-left: 10px;
}

#inhoud-links h4 {
	color: #555555;
	font-size: 10px;
	font-weight: normal;
	margin-top: -5px;
	padding-left: 20px;
	margin-bottom: 6px;
}

.sectie h2 {
	color:#1E3A6B;
	font-size: 23px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 0px;
	letter-spacing: 1px;
	font-family: georgia,serif;
}

.sectie h3 {
	color: #1E3A6B;
	font-size: 17px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 0px;
	letter-spacing: 1px;
	font-family: georgia, serif;
}

.sectie h4 {
	color: #555555;
	font-size: 10px;
	font-weight: normal;
	margin-top: 0px;
	padding-left: 20px;
	margin-bottom: 6px;
}

.reactie h3 {
	color: #1E3A6B;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing: 1px;
	font-family: georgia, serif;
}

.reactie h4 {
	color: #555555;
	font-size: 10px;
	font-weight: normal;
	margin-top: 0px;
	padding-left: 20px;
	margin-bottom: 6px;
}

.reactie div {
	float: right;
	width: 92px;
	height: 63px;
	background: url(../images/layout/quotes.gif) no-repeat;
	background-position: top right;
}
.sectie b {
	font-weight: bold;
	font-size: medium;
}
.nadruk {
	font-weight: bold;
	text-decoration: underline;
}
.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}
.genomebuild {
	display:block;
	text-align:center;
	font-style: italic;
}

.sectie journal {
	font-weight: bold;
	font-style: italic;
}

  /****************************/
 /********** ../images **********/
/****************************/
.sectie img.kader {
	border: 1px solid #888888;
	padding: 2px;
	margin-right: 10px;
	margin-top: 4px;
}

.sectie img.kader_links {
	border: 1px solid #888888;
	padding: 2px;
	margin-right: 7px;
	margin-top: 4px;
	float: left;
}

.sectie img.kader_rechts {
	border: 1px solid #888888;
	padding: 2px;
	margin-left: 7px;
	margin-top: 4px;
	float: right;
}

.sectie img.geenkader_links {
	border: none;
	padding: 2px;
	margin-right: 10px;
	margin-top: 4px;
	float: left;
}


.sectie img.geenkader_rechts {
	border: none;
	padding: 2px;
	margin-left: 10px;
	margin-top: 4px;
	float: right;
}



#tabs-links img, #tabs-rechts img {
	border: 0;
}

img.smiley {
	float: none;
	border: 0px;
	padding: 0;
	margin: 0;
}

.div-categorieen
{
	margin-bottom: 10px;
}

/*************************
/ Style of clinical data /
/************************/
.clinheader {
	margin:0px;
	margin-left: -6px;
	color:#1E3A6B;
	text-decoration: underline;
	font-size: 15px;
	font-weight: bold;
	font-family: georgia, serif;
}	
.clinical {
	margin:0px;
	margin-left: 4px;
	padding-left: 6px;
	border-left: 1px solid #1E3A6B;
}

.clinical ul {
	list-style-type: disc;
	margin: 15px;
	padding: 5px;
}

.clinical strong {
	font-weight: bold;
}

.clinical em {
	font-style: italic;
}

.clinical ol {
	margin: 15px;
	padding: 5px;
}

#txtHint{display:none;}

.scrollbarbox{ 
        width:; 
        height: 100px;
        z-index:1; 
        border: 1px solid #000000; 
        background-color:#FFFFFF; 
        left: 400px; 
        top: 100px; 
        visibility: visible; 
        display:block;
	overflow:auto; 
} 


@media print
{
#inhoud-hoofd{display:none;}
#inhoud-rechts{display:block;}
#inhoud-links{display:none;}
}
