#mytable {
	width: 75%; 
	padding: 0;
	margin: 0;
}


caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}



th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #1E3A6B;
	border-right: 1px solid #a1a6a4;
	border-bottom: 1px solid #a1a6a4;
	border-top: 1px solid #a1a6a4;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background:#e3e3e6; 
	}

th.center {
	text-align:center;
}
th.compact {
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #1E3A6B;
	border-right: 1px solid #a1a6a4;
	border-bottom: 1px solid #a1a6a4;
	border-top: 1px solid #a1a6a4;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	padding: 3px 3px 3px 6px;
	background:#e3e3e6; 
	}


th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #a1a6a4;
	background: none;
}
th.topleft {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #1E3A6B;
	border-right: 1px solid #a1a6a4;
	border-bottom: 1px solid #a1a6a4;
	border-top: 1px solid #a1a6a4;
	border-left: 1px solid #a1a6a4;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background:#e3e3e6; 
}	

td {
	border-right: 1px solid #a1a6a4;
	border-bottom: 1px solid #a1a6a4;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color:#797268; 
}

td.compact {
	font: 8px;
	border-right: 1px solid #a1a6a4;
	border-bottom: 1px solid #a1a6a4;
	background: #fff;
	padding: 3px 3px 3px 6px;
	color:#797268; 
}

td.alt {
	background: #F7F5F5;
	color: #797268;
}

td.sg_red {
	background: #FF7856;
	color: #797268;
}
td.sg_purple {
	background: #AC6EFF;
	color: #797268;
}
td.sg_green {
	background: #8ecb84;
	color: #797268;
}
td.sg_yellow {
	background: #e3d405;
	color: #797268;
}

th.spec {
	color: #797268;
	border-left: 1px solid #a1a6a4;
	border-top: 0;
	background: #fff ;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
	color: #797268;
	border-left: 1px solid #a1a6a4;
	border-top: 0;
	background: #f7f5f5 ;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

th.title {
	font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #1E3A6B;
	border-right: 1px solid #a1a6a4;
	border-bottom: 0;
	border-top: 1px solid #a1a6a4;
	border-left: 1px solid #a1a6a4;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background:#e3e3e6; 
}	

th.topcell {
	color: #797268;
        border-top: 1px solid #a1a6a4;
        background: #fff ;
        font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.topcellalt {
	color: #797268;
        border-top: 1px solid #a1a6a4;
        background: #f7f5f5 ;
        font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#clear {
	padding: 0;
	margin: 0; 
	border-right: 0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
}

th.clear {
	color: #797268;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	background: #fff;
}

td.clear {
	color: #797268;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
	background: #fff;
}	

