.ajaxtooltip{
	position: absolute; /*leave this alone*/
	display: none; /*leave this alone*/
	width: 300px;
	left: 0; /*leave this alone*/
	top: 0; /*leave this alone*/
	background: lightyellow;
	border: 2px solid gray;
	border-width: 1px 2px 2px 1px;
	padding: 5px;
}
